<a href="https://colab.research.google.com/github/alexanderbasalgin/python_polytech/blob/main/%D0%9B%D0%B0%D0%B1%D0%BE%D1%80%D0%B0%D1%82%D0%BE%D1%80%D0%BD%D0%B0%D1%8F_%D1%80%D0%B0%D0%B1%D0%BE%D1%82%D0%B0_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Лабораторная работа по теме: "Введение в анализ данных. Операции над векторами и матрицами в NumPy"

In [ ]:
import pandas as pd
import numpy as np

### Задание №1

Для заданий этого занятия требуется загрузить датасет 'AmazonBooks.xlsx' ([страница датасета на Kaggle](https://www.kaggle.com/datasets/palanjali007/amazons-top-50-bestselling-novels-20092020?select=AmazonBooks.xlsx)). Датасет можно загрузить из директории datasets. Нужные данные находятся на листе 'Sheet1'. В датасете содержатся данные о самых продаваемых книгах на платформе Amazon с 2009 по 2020 год. Выведите последние 10 строк в данном датасете.

In [ ]:
df_amazon = pd.read_excel('AmazonBooks.xlsx')
df_amazon.head(3)

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction

,Name,Author,User Rating,Reviews,Price,Year,Genre
590,What Should Danny Do?,Adir Levy,4.8,14705,13,2020,Fiction
591,Wacky Waving Inflatable Tube Guy,Conor Riordan,4.0,25510,7,2020,Fiction
592,The Silent Patient,Alex Michaelides,4.5,61060,15,2020,Fiction
593,The Big Book of Silly Jokes for Kids,Carole P. Roman,4.7,11668,9,2020,Fiction
594,Chicka Chicka Boom Boom,Bill Martin Jr.,4.9,20705,4,2020,Fiction
595,Live Free Or Die: America (and the World) on t...,Sean Hannity,4.8,20153,15,2020,Non Fiction
596,Burn After Writing,Sharon Jones,4.6,26423,8,2020,Non Fiction
597,Get Out of Your Head: Stopping the Spiral of T...,Jennie Allen,4.7,12879,14,2020,Non Fiction
598,Human Body Activity Book for Kids: Hands-On Fu...,Katie Stokes,4.7,14128,5,2020,Non Fiction
599,Educated: A Memoir,Tara Westover,4.7,45351,11,2020,Non Fiction

### Задание №2

Отсортируйте датафрейм в порядке возрастания года (year).

,Name,Author,User Rating,Reviews,Price,Year,Genre
299,Sookie Stackhouse,Charlaine Harris,4.7,973,25,2009,Fiction
96,Eclipse (Twilight),Stephenie Meyer,4.7,5505,18,2009,Fiction
95,Eclipse (Twilight Sagas),Stephenie Meyer,4.7,5505,7,2009,Fiction

### Задание №3

Получите срез данных, содержащий в себе только книги дороже 20$ (Price>20).

,Name,Author,User Rating,Reviews,Price,Year,Genre
299,Sookie Stackhouse,Charlaine Harris,4.7,973,25,2009,Fiction
271,Publication Manual of the American Psychologic...,American Psychological Association,4.5,8580,46,2009,Non Fiction
473,The Twilight Saga Collection,Stephenie Meyer,4.7,3801,82,2009,Fiction

### Задание №4

Получите срез данных, содержащий только название книги, рейтинг пользователей и количество отзывов. (Name, User Rating, Reviews)

                         Name            Author  User Rating  Reviews
299         Sookie Stackhouse  Charlaine Harris          4.7      973
96         Eclipse (Twilight)   Stephenie Meyer          4.7     5505
95   Eclipse (Twilight Sagas)   Stephenie Meyer          4.7     5505

### Задание №5*

Выведите список (в виде объекта list) уникальных авторов за 2011 год, чье количество отзывовов хотя бы на одну книгу было больше 75 квантиля.

['Suzanne Collins', 'Laura Hillenbrand']

### Задание №6

Создайте столбец genre_categories содержащий данные из столбца Genre, преобразованным в тип category, а затем создайте столбец genre_codes, содержащий коды категорий.

    genre_categories  genre_codes
299          Fiction            0
96           Fiction            0
95           Fiction            0